.container{
    position: relative;
}

.btn{
    position: absolute;
    right: 17px;
    bottom: 184px;
   cursor: pointer;
    
}

.getback{
    position: absolute;
    top: 20px;
    left: 15px;
   cursor: pointer;
    
}




