.container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1.56148px solid #909090;
    width: 100%;
    margin-left: 65px;
    
}

.product__img{
    margin-bottom: 30px;
    margin-right: 20px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 3.98953px 3.98953px rgba(0, 0, 0, 0.25);
}
.container h3{
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 30px;
width: 98px;
height: 20px;
text-align: center;
color: var(--text);
}
.container p {
    
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 1.3rem;
line-height: 20px;
text-align: center;
color:  var(--text);
margin-top: 45px;
}

.counter{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    height: 87px;
    position: relative;
    margin-top: 69px;
 
}

.counter button {
    background-color: var(--counter);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 3.98953px 3.98953px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.counter img {
 width: 20px;
 margin-left: 5px;
}

.counter span {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: var(--border);
    line-height: 70px;

}



@media screen and (max-width: 989px) {
    .container{
        width: 70%;
    }
    .product__img{
        width: 12rem;
        height: 12rem;
    }
    .counter{
        margin-top: 35px;
    }
    .container h3{
        font-size: 1.2rem;
    }
    .container p{
        font-size: 1.2rem;
    }
  }





  @media screen and (max-width: 640px){
    .container{
        width: 90vw;
        margin-left: 0px;
    }
    .product__img{
        width: 7rem;
        height: 7rem;
        margin: 0px;
        margin-left: 20px;
    }
    .counter{
        position: relative;
        right: 20px;
        margin-top: 0px;
       
    }
    .counter span{
        line-height: 45px;
    }
    .container h3{
        font-size: 0.8rem;
        
    }
   
    .container p{
        font-size: 0.8rem;
        width: 50px;
    }
  }

