.container{
    position: relative;
}
.container h2 {
    font-size: 3.5rem;
    position: absolute;
    top: 10%;
    font-weight: 900;
    padding-left: 3rem;
    margin-top: 130px;
    color: var(--text);
}
.cont{
    display: grid;
    grid-row-gap: 3rem;
    grid-column-gap: 2.5rem;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    margin-top: 30px ;
  
    height: 100%;
}

.box{
    grid-column: span 4;
padding-right: 2.5rem;
padding-left: 3rem;
// margin-top: 30px;
}

.body{
    background-color: var(--body);
}

.nav{
    border-radius: 20px 0px 0px 20px;
    height: 100vh;
    width: 218px;
    z-index: 30;
    background: #E6E6E6;
    position: absolute;
    right: 0;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        
    }
    li{
        font-family: "Roboto";
        font-size: 20px;
       cursor: pointer;
        padding: 0 20px;
        margin: 25px 0;
        
    

    }
}


.Main{
position: relative;
    width: 100%;
   height: 70%;
    
   
}



.btn__container{
    position: relative;
  
    bottom: 310px;
    left: 11%;
    display: flex;
       justify-content: space-evenly;
       width: 80%;
}

.btn{
    width: 150px;
    height: 75px;
    border: 3px solid var(--text);
    border-radius: 25px 5px;
    font-family: "Roboto";
    color: var(--text);
    cursor: pointer;
  z-index: 1;
  font-size: 1.3rem;


}
.signIn{
    position: fixed;
    z-index: 9998;
    top: 20px;
    left: 15px;
    color: var(--icons);
    font-size: 20px;
}

 .logo{
    position: fixed;
    top: 0px;
    left: 30.5vw;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
    // background-color: black;
 
   

} 
.txt{
    font-family: Overpass;
    font-size: 20px;
    font-weight: 900;
    color: var(--text);
    margin-top: 30px;
    width: fit-content;
}


@media screen and (max-width: 769px) {
    .container h2{
        margin-top: 0;
        font-size: 2rem;
    }
    .Main{
        width: 100%;
        height:60vw ;
    }
 
    .box img {
        // width: 100px;
    }
    .box h3 {
        font-size: 2rem;
    }
    .cont{
        margin-top: 60px;
    }
   
    .btn__container{
        position: relative;
        // bottom: 160px;
        // padding: 150px 0;
        top: -100px;
        left: 11%;
        display: flex;
           justify-content: space-evenly;
           width: 80%;

    }
    .btn{
        width: 130px;
        height: 45px;
        border: 2px solid var(--text);
        border-radius: 25px 5px;
        font-family: "Roboto";
        color: var(--text);
        cursor: pointer;
      z-index: 1;
      font-size: 0.9rem;
    
    
    }
}
@media screen and (max-width: 640px){
   
    .container h2{
        margin-top: 50px;
        font-size: 1rem;
    }
    .Main{
        width: 100vw;
        height: 40vh;
    }
    .cont{
        display: grid;
        // grid-row-gap: 3rem;
        // grid-column-gap: 2.5rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-top: 80px;
      
    }
    .box h3 {
        font-size: 1rem;
    }
    
    .btn__container{
        position: relative;
        top: -100px;
        // padding: 150px 0;
        // margin-top: 30px;
        // margin-bottom: 30px;
      
        left: 11%;
        display: flex;
           justify-content: space-evenly;
           width: 80%;
    }
    .btn{
        width: 70px;
        height: 25px;
        border: 2px solid var(--text);
        border-radius: 25px 5px;
        font-family: "Roboto";
        color: var(--text);
        cursor: pointer;
      z-index: 1;
      font-size: 0.6rem;
    
    
    }
}



