*{
    margin: 0;
    padding: 0;
}
.container{
   
    padding: 25px 38px;
    width: 350px;
    border: 1px solid silver;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin: 50px 0 0;
    transition: all 0.2s ease;
    text-align: center;
}
.container:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container img{
    // width: 275px;
    // height: 300px;
    border-bottom: 2px dashed #559AAA;;
    // transition: all 0.5s ease;
    margin: 20px  0;
}
// .container img:hover{
//   padding-bottom: 30px;
//   transform: rotate(-45deg);

//   border-bottom: none;

// }
.title__container{
    display: flex;
    justify-content: space-between;
}
    
.container h3{
width: 81px;
height: 45px;
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 82.7%;
letter-spacing: -0.145em;
text-transform: capitalize;
color: #000000;
margin:15px -10px;
}
.container p{
width: 96px;
height: 24px;
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 124.2%;
text-transform: capitalize;
color: #000000;
margin:30px -24px;
}



.Review{
width: 384px;
height: 144px;
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 124.2%;
text-transform: capitalize;
color: #000000;
}


.buttonContainer{
    display: flex;
    justify-content: end;
    margin-bottom: 80px;
    align-items: center;
    text-align: center;
   
}
.buttonContainer button {
    font-size: 0.9rem;
    background-color: #559AAA;
    border: none;
    color: #fff;
    height: 30px;
    width: 140px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 5px;
  }

  .smallButton {
   
    width: 30px !important;
   
    font-size: 1.6rem !important;
    font-weight: bold;
    line-height: 30px;
    
    
  }
  .smallButton img {
    width: 20px;
   margin-top: 5px;
   
    
  }

  .counter {
    display: inline-block;
    
    width: 20px;
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    
    color: black;
    font-family: 'Overpass';
  }

