.map {
    height: 99.5vh;
    width: 100%;
}

.gettback{
    position: fixed;
    top: 20px;
    left: 15px;
   cursor: pointer;
   z-index: 55;
}

.container {
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
// justify-content: ;
position: absolute;
width: 382px;
height: 601px;
left: 14px;
top: 100px;

background: rgba(255, 255, 255, 0.5);
border: 1px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2.5px);

/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;
}

.container h1 {
    
width: 248px;
height: 41px;

margin-top: 157px;
margin-bottom: 36px;
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 41px;

/* identical to box height */

color: #000000;
}

.container h3 {
 
width: 210px;
height: 23px;

margin-bottom: 37px;
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

/* identical to box height */

color: #000000;


}

.box_container{
    margin-top: 65px;
width: 239px;
height: 125px;

position: fixed;
bottom: 100px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.box_container p {

width: 169px;
height: 38px;

margin: 20px 35px;
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
text-align: center;

color: #000000;
}

.Social{
    display: flex;
justify-content: space-around;
margin-top: 0px !important;
}
.Social img{
    width: 40px;
    cursor: pointer;
}

.Purchase{ 
width: 300px;
height: 60px;
background: #569AAA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
position: fixed;
bottom: -30px;
left: 40px;
cursor: pointer;
margin-top: 60px;
border: none;
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}


  .arrow{
    animation: zoomIn 2s ease-in-out ;
  }
  @keyframes zoomIn {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-90px);
    }
    60% {
      transform: translateX(-45px);
    }
    
  }

    
  
    
    