.cart_container{
    background-color: var(--counter);
    margin-top: 0px;
    display: grid;
    text-align: center;
    height: auto;
    
}
.cart_container h2 {
    
    padding: 20px;
    font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
text-align: center;
color: var(--text);
}

.gettback{
    position: fixed;
    top: 20px;
    left: 15px;
   cursor: pointer;
   z-index: 55;
   color: var(--nav_burger);
   font-size: 25px;
   
}

.container{
    display: grid;
    column-gap: 90px;
    justify-content: space-between;
    background-color: var(--nav_background);
    padding: 15px;
  position: relative;
    margin-bottom: 30px;
    border-radius: 6px;
    width: 90%;
    margin-left: 20px;
    padding-top: 30px;
    height: auto;
}

.back_container{
    background-color: var(--back-checkout);
    height: 50vh;
}
.back{
   height: 200px;
    width: 90%;
    display: grid;
    justify-content: start;
    margin-left: 20px;
    background: var(--nav_background);
    border: 1px solid #FFFFFF;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
  

}
.back h2 {
    font-style: normal;
font-weight: 400;
font-size: 26.6148px;
line-height: 34px;
font-family: 'Overpass';
text-align: start;
text-transform: capitalize;
margin: 20px ;
color: var(--text);
}

.back p {
    
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15.6557px;
    line-height: 20px;
   margin: 15px 20px ;
    text-transform: uppercase;
    color: var(--text);
}

.back span {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 15.6557px;
    line-height: 20px;
    color: var(--text);
    margin-left: 50px;
   
}

.btn_container{
    display: flex;
}
.checkout{
 
width: 300px;
height: 60px;
border: none;
background: var(--counter);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 20.5482px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: var(--text);
margin-top: 30px ; 
margin-left: 33px;
cursor: pointer;
}

.clear{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  margin-left: 315px;
  margin-top: -52px;
font-size: 25px;
  border: none;
  color: var(--text);

}
.clear img {
    margin-top: 5px;
  
}

.back_shop{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
height: 60px;
border: none;
background: var(--counter);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 20.5482px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: var(--text);

cursor: pointer;
position: relative;
top: 275px;
left: 20px;

}





