.counter{
    font-family: "Overpass";
    background: #559AAA;
    border-radius: 50%;
    display: grid;
    width: 20px;
    height: 20px;
    line-height: 22px;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 0.90rem;
    font-weight: bold;
}

