
.mainContainer{
   position: relative;
   width: 100%;
   height: 4rem;
    top: 0;
    width: 100%;
    /* z-index: 20; */
   
}
nav{

    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    position: fixed;
    z-index: 20;
    top:0;
    right: 0;
    background: var(--nav_background);
    border-bottom: 1.5px solid #252525;
    /* backdrop-filter: blur(2.5px); */
    /* background-color: #559AAA; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    
}






.burger-menu{
    height: 84%;
    width: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 220px; 
    z-index: 999;
}

.burger-bar{
    width: 2.1rem;
    height: 0.25rem;
    background-color: var(--nav_burger);
    border-radius:5px;
    line-height: 1px;
    transform-origin: 1px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu{
    margin: 0;
    width: 60%;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0; 
    right: 0;
    border-radius: 20px 0px 0px 0px;
    background: var(--nav_background);
    /* backdrop-filter: blur(5px); */
  
}

.hidden{
    display: none;
}
.visible{
    display: inherit;
   
}

.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) ;
}
.burger-bar.clicked:nth-child(2){
    transform: translateX(-100%) ;
    opacity: 0;
}
.burger-bar.clicked:nth-child(3){
    transform: rotate(-45deg) ;
}









.social{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}
.social img{
    width: 40px;
    cursor: pointer;
    
}
.sidebar-item{
    /* display: flex;
   flex-direction: column;
   align-items: center;
    list-style: none;
    margin-top: 100px;
  height: 50%; */
  padding:.75em 1em;
  
  color: var(--border);
  display: block;
  margin: 100px 0;
  transition: background-color .25s;
    border-bottom: 2px dashed var(--border);
    height: 40%;
    
    
}
.sidebar-item:hover{
    /* background-color: antiquewhite; */
}
.sidebar-title{
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    margin-top: 10px;
    background-color: var(--nav_background); 
    border-radius: 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;
}
.sidebar-title:hover{
    background-color: var(--nav_burger);
}
.sidebar-title span{
    display: flex;
  
}
.sidebar-title span i{
    margin: 5px;
    display: inline-block;
    width: 1.5em;
}
.sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
   
}
.sidebar-item.open .sidebar-title .toggle-btn{
    transform: rotate(180deg);
}
.sidebar-content{
    cursor: pointer;
height: 0;
overflow: hidden;

border-radius: 5px;
    display: flex;

}

.sidebar-item.open .sidebar-content{
    background-color: var(--nav_background);
    height: auto;
    padding: 3px 3px;
    margin-top: 5px;
    /* width: 90%; */
    width: 100%;

  
    }
    .sidebar-item.open .sidebar-content:hover{
        background-color: var(--nav_burger);
    }






/* ul{
    list-style: none;
    
} */
/* ul li {
    display: block;
    position: relative;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    width: fit-content;
    background-color: antiquewhite;
    width: 90% ;
    border-radius: 5px;

} */

/* ul li ul.dropdown li {
    display: block;
    width: fit-content;
}
ul li ul.dropdown{
    width: fit-content;
    /* background: aqua; */
    /* position: absolute;
    z-index: 999;
    display: none;
    right: 0px; */
   

/* } */
/* ul li:hover{
    background: blueviolet;
    
    

} */
/* ul li:hover ul.dropdown {
    display: block;
   
} */


