*{
    margin: 0;
    box-sizing: border-box;
}
.mainContainer{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
nav{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    position: absolute;
    top:0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(2.5px); */
    /* background-color: #559AAA; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    
}


.logo{
    position: absolute;
    top: 0;
    left: 150px;
    width: 100px;
    height: 75px;
    cursor: pointer;
}

.UserIcon{
   position: fixed;
   top: 17px;
   left: 17px;
   cursor: pointer;
}

.burger-menu{
    height: 84%;
    width: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 220px; 
    z-index: 20;
}

.burger-bar{
    width: 2.1rem;
    height: 0.25rem;
    background-color: black;
    border-radius:5px;
    line-height: 1px;
    transform-origin: 1px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu{
    margin: 0;
    width: 60%;
    height: 100vh;
    /* z-index: 2; */
    position: fixed;
    top: 0; 
    right: 0;
    border-radius: 20px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  
}

.hidden{
    display: none;
}
.visible{
    display: inherit;
   
}

.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) ;
}
.burger-bar.clicked:nth-child(2){
    transform: translateX(-100%) ;
    opacity: 0;
}
.burger-bar.clicked:nth-child(3){
    transform: rotate(-45deg) ;
}



.side-menu{
    display: flex;
   flex-direction: column;
   align-items: center;
    list-style: none;
    margin-top: 100px;
  
    border-bottom: 2px dashed #000000;
    
}


.side-menu li {
    font-family: 'Roboto';
    padding: 0 20px;
    margin: 20px 0;
    cursor: pointer;
}



.social{
display: flex;
justify-content: space-around;
margin-top: 75px;
}
.social img{
    width: 40px;
    cursor: pointer;
}



