

    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: 0.25s ease;
    }
    .header{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: var(--nav_background);
        transition: 0.3s;
        height: 85px;
        z-index: 1;
    }

    .menu{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        transition: 0.5s;
        flex-wrap: wrap;
        list-style: none;
     
    }
    .menu:hover a{
        color: #575757;
    }
    .menu:hover a:hover{
        color: #8eaafb;
        box-shadow: 0 2px 0 0 currentColor;
    }
    
    .arrow{
        position: relative;
        top: 7px;
        /* padding-top: 3px; */
        margin-left: 5px;
        color: var(--border);
    }
    .Home{
        padding-top: 2px ;
        margin-right: 13px;
        color: var(--border);
    }
    
    .menu li {
        list-style-type: none;
        padding: 28px 20px;
        display: flex;
        text-decoration: none;
        margin: 0 0.75em 0 0.75em;
    }
    
    .menu li a {
        color: var(--border);
        text-decoration: none;
        display: block;
        font-size: 18px;
        line-height: 1;
        transition: 0.3s;
        font-weight: 600;

    }
    
    
    .hamburger{
        position: relative;
        width: 30px;
        height: 4px;
        background: var(--icons);
        border-radius: 10px;
        cursor: pointer;
        z-index: 4;
        transition: 0.3s;
    }
    .hamburger::before,
    .hamburger::after{
        content: "";
        position: absolute;
        height: 4px;
        right: 0;
        background: var(--icons);
        border-radius: 10px;
        transition: 0.3s;
    }
    
    .hamburger::before{
        top: -10px;
        width: 20px;
    }
    .hamburger::after{
        top: 10px;
        width: 25px;
    }
    
    .toggle-men{
        position: absolute;
        padding: 14px;
        right: 20px;
        top: 22px;
        z-index: 13;
        cursor: pointer;
        opacity: 0;
    }
    
    .hamburger,
    .toggle-menu{
        display: none;
    }
    
    .navigation input:checked ~ .hamburger{
        background: transparent;
    }
    .navigation input:checked ~ .hamburger::before{
        top: 0;
        transform: rotate(-45deg);
        width: 30px;
    }
    .navigation input:checked ~ .hamburger::after{
        top: 0;
        transform: rotate(45deg);
        width: 30px;
    }
    
    .navigation input:checked ~ .menu{
        right: 0;
        box-shadow: -20px 0 40px rgba(0,0,0,0.3);
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
        padding: 22px 0px;
      }
      .dropbtn{
        display: flex;
      }
      .dropdown .dropbtn {
        font-size: 18px;    
        border: none;
        outline: none;
       color: var(--border);
        padding: 1px 10px;
        /* background-color: inherit; */
        font-family: inherit;
        margin: 0;
      }
    
      .dropdown-content {
        display: none;
        position: absolute;
        background: var(--nav_background);
        min-width: 160px;
        margin-left: 40px;
        margin-top: 22px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
    
      .dropdown-content a {
        display: flex;
        justify-content: start;
        align-items: center;
        float: none;
        color: var(--border);
        padding:15px 10px;
        text-decoration: none;
        /* display: block; */
        text-align: center;
      }
     
      .dropdown-content a:hover {
        background-color: #6b6b6b;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
      .social{
        display: none;
        
        
      }
    
    @media screen and (max-width: 992px) {
    .hamburger,
    .toggle-menu{
        display: block;
    }
    
    .header{
        padding: 10px 20px;
    }
    
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -65%;
        background:  var(--body) ;
        width: 65%;
        height: 100%;
        padding-top: 65px;
    }
    
    .menu li {
        width: 90% ;
       border-radius: 5px;
       padding: 15px 0;
       margin-top: 10px;
       /* margin-bottom: 30px; */
       height: auto;

       border-bottom: 1px solid silver;
    }
    .menu li a{
        position: relative;
        top: 6px;
        color: var(--border);
    }
    
    .dropbtn{
        width: 90% ;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 0;
        margin-top: 10px;
        height: 45px;
        border-bottom: 1px solid silver;
    } 
    span a{
        position: relative;
        top: -10px;
        left: 30px;
    }
    
    .menu li a,
    menu li a:hover{
        margin-top: 5px;
        font-size: 18px; 
    }
    
    .dropdown .dropbtn {
        display: none;
        background-color: none;
    }
    
    .dropdown {float: none;}
    .dropdown-content {position: relative;}
    .dropdown .dropbtn {
      display: block;
      text-align: left;
      padding: 0px;   
      background: none;
    }
    .dropdown-content  {
        margin: 0;
    }
    
    .dropdown {
        width: 90% ;
        border-radius: 5px;
        padding: 0;
        margin-top: 10px;
        border-bottom: 1px solid silver;
    }
    
    .social{
        display: flex;
       margin-top: 50px;
        border-radius: 7px;
        font-size: 20px;
        line-height: 1;
        justify-content: center;
        border-top: 2px dashed var(--border);
        width: 100%;
        border-radius: none;
      }
     
      .social:hover{
        transform: rotate(1.25);
        color: #28D146;
        transition: 0.3s;
      }
      .Home{
        position: relative;
        top: 12px;
        left: 5px;
        padding-top: 3px ;
        color: var(--border);
        
    }
    .arrow{
        position: relative;
        top: -30px;
        left: 100px;
        
        z-index: 1000;
       
    }
    
    }
    
   
    




